body{
    color:red;
    background-color:#f4f4f4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:16px;
    font-weight: bold;
    line-height: 1.6em;
    margin:0;

}
.box-1{
    background-color:#333333
}